---
import ExperiencesCard from './ExperiencesCard.astro';

export interface Props {
    headingStyle: string;
}

const { headingStyle } = Astro.props
---

<section class="mt-10 lg:mt-26 bg-neutral-100 dark:bg-neutral-900 shadow-[inset_0_8px_12px_-4px_rgba(0,0,0,0.08)]">
    <div class="p-8 mx-auto max-w-screen-2xl sm:px-8">
        <h2 class={headingStyle}>Experience</h2>
        <a> 
            An immense thank you to all the incredible companies for giving me the opportunity to grow and 
            learn from so many great individuals. I'm always looking for more opportunities!
        </a>
        
        <!-- Divider with shadow -->
        <div class="mt-4 mb-8 h-px from-transparent via-secondary shadow-md"></div>
        
        <ExperiencesCard/>
    </div>
</section>