---
import { Image } from "astro:assets";
---

<div
    class={`aspect-square size-full flex-none overflow-hidden rounded-full border-accent shadow-[0_20px_50px_rgba(0,0,0,0.5)]`}
>
    <!-- Place holder for pfp -->
    <Image
        src="https://rustacean.net/assets/corro.svg"
        inferSize={true}
        alt="Profile picture"
        class="h-full object-cover object-center"
    />
</div>