---
import ProjectsCard from './ProjectsCard.astro';

export interface Props {
    headingStyle: string;
}

const { headingStyle } = Astro.props
---

<section class="bg-neutral-100">
    <div class="p-8 pt-8 mx-auto max-w-screen-2xl sm:px-8">
        <h2 class={headingStyle}>Projects</h2>
        <a> 
            My archive of projects I've finished working on, currently working on builing 3-4 new ones (not at the same time lol).
        </a>
        <!-- Divider with shadow -->
        <div class="h-px from-transparent via-secondary shadow-md"></div>
    </div>
    <div class="overflow-hidden">
        <ProjectsCard/>
    </div>
</section>  