---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ContactIcons from "@/components/landing/ContactIcons.astro";
import ProfilePicture from "@/components/landing/ProfilePicture.astro";
import PageSEO from "@/components/PageSEO.astro";
import AboutMe from "@/components/landing/AboutMe.astro";
import ExperiencesSection from "@/components/landing/ExperiencesSection.astro";

const headingStyle = 
    "decoration-accent mb-4 text-3xl font-semibold underline";
---

<BaseLayout>
     <PageSEO slot="head" title="Peter Tran" />

     <main class="mx-auto max-w-screen-2xl">

            <div class="mt-6 mb-2 lg:flex lg:flex-row lg:gap-24 xl:gap-8 lg:items-center">
                <div class="flex-initial">

                    <div class="p-8 font-sans flex flex-row items-center justify-start gap-4 sm:gap-8 md:gap-16 lg:justify-start">
                        <div>
                            <div class="text-xl">Hey, I'm</div>
                            <div class="mt-2 xl:mr-8 2xl:mr-8 text-6xl drop-shadow-md font-semibold tracking-tight sm:text-6xl"
                                >
                                Peter Tran<span class="text-accent">.</span>
                        </div> 
                            <div class="mt-6 not-only-of-type:flex flex-row justify-between drop-shadow-sm">
                                <ContactIcons />
                            </div>
                        </div>
            <!-- Right: pfp -->
                    <div class="box-content flex size-30 sm:size-40 md:size-56 lg:size-auto lg:max-w-56 lg:min-w-30">
                        <ProfilePicture />  
                    </div>
                </div>
                <div class="mt-8"></div>
            </div>
            <AboutMe {headingStyle} />
        </div>
     </main>
    <ExperiencesSection {headingStyle}>
</BaseLayout>