---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactIcons from "../components/ContactIcons.astro";
import ProfilePicture from "../components/ProfilePicture.astro";
import PageSEO from "../components/PageSEO.astro";

const headingStyle = 
    "decoration-accent mb-4 text-3xl font-black underline tracking-tight";
---

<BaseLayout>
     <PageSEO slot="head" title="Peter Tran" />

     <main class="mx-auto max-w-screen-2xl sm:px-8 md:px-16">

            <div class="mt-12 mb-0 lg:flex lg:flex-row lg:justify-around lg:gap-24">
                <div class="flex-initial">

                    <div class="font-serif flex flex-row items-center justify-around gap-4 sm:gap-8 md:gap-16 lg:justify-start">
                        <div>
                            <div class="text-xl font-bold">Hey, I'm</div>
                            <div class="mt-2 text-6xl drop-shadow-md font-black tracking-tight sm:text-8xl"
                                >
                                Peter Tran<span class="text-accent">.</span>
                            <div class="mt-4 not-only-of-type:flex flex-row justify-between drop-shadow-sm">
                                <ContactIcons />
                            </div>
                        </div> 
                    </div>
            <!-- Right: pfp -->
                    <div class="box-content size-30 sm:size-40 md:size-56 lg:size-auto lg:max-w-56 lg:min-w-30">
                        <ProfilePicture />  
                    </div>
                </div>
            </div>
        </div>
     </main>
</BaseLayout>