---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ContactIcons from "@/components/landing/ContactIcons.astro";
import ProfilePicture from "@/components/landing/ProfilePicture.astro";
import PageSEO from "@/components/PageSEO.astro";
import AboutMe from "@/components/landing/AboutMe.astro";
import ExperiencesSection from "@/components/landing/ExperiencesSection.astro";
import ProjectsSection from "@/components/landing/ProjectsSection.astro";
import Divider from "@/components/landing/Divider.astro";

const headingStyle = 
    "decoration-accent mb-4 text-4xl font-bold underline";
---

<BaseLayout>
     <PageSEO slot="head" title="Peter Tran" />

     <main class="mx-auto max-w-screen-2xl px-1 lg:px-16">

            <div class="mt-10 lg:mt-18 mb-2 lg:flex lg:flex-row lg:gap-16 xl:gap-16 lg:items-center lg:justify-center">
                <div class="lg:flex-1">

                    <div class="p-8 font-sans flex flex-row items-center justify-center gap-4 sm:gap-8 md:gap-16 lg:flex-col lg:items-center lg:gap-4 lg:p-8">
                        <div class="lg:mb-0">
                            <div class="text-xl font-semibold">Hey, I'm</div>
                            <div class="mt-2 text-6xl drop-shadow-md font-semibold lg:text-6xl"
                                >
                                Peter Tran<span class="text-accent">.</span>
                        </div> 
                            <div class="mt-8 not-only-of-type:flex flex-row justify-between drop-shadow-sm">
                                <ContactIcons />
                            </div>
                        </div>
                    <!-- Right: pfp on mobile -->
                    <div class="box-content flex size-30 sm:size-40 md:size-50 lg:hidden">
                        <ProfilePicture />  
                    </div>
                </div>
                </div>
                <!-- Profile pfp on desktop -->
                <div class="hidden lg:flex lg:flex-none lg:items-center">
                    <div class="box-content flex size-auto max-w-48 min-w-30">
                        <ProfilePicture />
                    </div>
                </div>
                <!-- About Me on desktop -->
                <div class="hidden lg:flex lg:flex-1 lg:items-center">
                    <AboutMe {headingStyle} />
                </div>
            </div>
            <!-- About Me on mobile -->
            <div class="lg:hidden">
                <AboutMe {headingStyle} />
            </div>
     </main>
    <ExperiencesSection {headingStyle}/>
    <ProjectsSection {headingStyle}/>
    <Divider/>
    
</BaseLayout>