---
import { Icon } from "astro-icon/components";

export interface Props {
    headingStyle: string;
}

const { headingStyle } = Astro.props;
---

<section class="w-full text-2xl md:w-fit md:ml-auto lg:mt-0 p-8">

  <div class="grid grid-cols-[1fr_auto] gap-x-6 gap-y-6 leading-[1.15]">
    <div class="font-medium font-default-sans">
      CS <span>@</span> UT Arlington
    </div>
    <div class="text-secondary text-right text-base whitespace-nowrap">
      2023&ndash;2027
    </div>

    <div class="font-medium">
      SDE Intern <span>@</span> Beautisol
    </div>
    <div class="text-secondary text-right text-base whitespace-nowrap">
      Present
    </div>

    <div class="font-medium col-span-2">
      Side quest enthusiast
    </div>
  </div>
</section>