---
import { Icon } from "astro-icon/components";
---

<footer class="p-4 text-sm">
    <div class="flex justify-between">
        <div class="text-gray-700">Copyright &copy; 2026 Peter Tran</div>
    </div>
</footer>