<footer class="p-4 text-sm shadow-[0_20px_50px_rgba(0,0,0,0.08)]">
    <div class="flex justify-between">
        <div class="text-gray-700">Copyright &copy; 2026 Peter Tran</div>
    </div>
</footer>