---
import { Icon } from "astro-icon/components";

type NavItem = {
    path: string;
    name: string
};

const navItems: NavItem[] = [
    { 
        name: "Home",
        path: "/"
    },
    {
        name: "Experience",
        path: "/experience"
    },
    {
        name: "Projects",
        path: "/projects"
    },
    {
        name: "Volunteer",
        path: "/volunteer"
    },
    {
        name: "Coursework",
        path: "/coursework"
    },
    {
        name: "Photography", 
        path: "/photography"
    },
];
---

<header class="w-full">
    <div
        class="font-sans mx-auto box-content flex h-4 max-w-screen-xl flex-row items-center justify-between p-4"
    >
        <!-- left side of the header -->
        <a href="/" class="font-bold"> peter-phi.com </a>

        <!-- right side of the header -->
        <nav class="text-sm text-gray-700">
            <menu class="flex flex-row gap-4 max-sm:hidden">
                {
                    navItems.map(({ path, name }) => (
                        <li
                            class={
                                Astro.url.pathname === path ? "font-bold" : ""
                            }
                        >
                            <a href={path}>{name}</a>
                        </li>
                    ))
                }
            </menu>
            <details
                id="hamburger"
                class="peer group hidden max-sm:block relative"
            >
                <summary class="inline cursor-pointer">
                    <Icon
                        name="fa7-solid:bars"
                        class="inline group-open:hidden"
                        role="button"
                        aria-label="nav menu">
                    </Icon>
                </summary>
                <div class="bg-background text-primary rounded-xl shadow-2xl p-6 
                absolute top-0 right-0 w-40 z-40">
                    <menu class="flex flex-col gap-4 text-base text-right">
                        {
                            navItems.map(({ path, name }) => (
                                <li
                                    class={
                                        Astro.url.pathname === path ? "font-bold" : ""
                                    }
                                >
                                    <a href={path}>{name}</a>
                                </li>
                            ))
                        }   
                    </menu>
                </div>
            </details>

        </nav>
    </div>
</header>

<script>
    const hamburger = document.getElementById(
        "hamburger",
    ) as HTMLDetailsElement | null;

    document.addEventListener("click", (e) => {
        if (hamburger && hamburger.open) {
            const target = e.target as HTMLElement;
            if (!hamburger.contains(target)) {
                hamburger.open = false;
            }
        }
    });
</script>